{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}

{% block content %}
  <main class="app-container govuk-body">
    <h1>This site is under construction...</h1>
    <p>Please check back later when there is content to view.</p>
    <form method="post" action="/crimePortal" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      <button type="submit">crime-portal-gateway</button>
    </form>
  </main>
{% endblock %}
